@import '../../styles/utils';

.header {
  background: $oc-gray-9;
  padding: 1rem 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: $text-white;;
}