@import '../../styles/utils';

.button,
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  background: $primary-color;
  color: $text-white;
  padding: 0.5rem 1rem;
  border-radius: $border-radius;
  transition: background 150ms ease-in-out;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background: $primary-color-hover;
    color: $text-white;
  }
  &:active {
    background: $primary-color-click;
    color: $text-white;
  }
  
  &.outline {
    background: transparent;
    color: $primary-color;
    border: 0.1rem solid $primary-color;
    padding: 0.4rem 0.8rem;
    transition: background 150ms ease-in-out, color 150ms ease-in-out;
    &:hover {
      background: $primary-color;
      color: $text-white;
      border: 0.1rem solid $primary-color;
    }
    &:active {
      background: $primary-color-click;
      color: $text-white;
      border: 0.1rem solid $primary-color-click;
    }
  }
  
  &.transparent {
    background-color: transparent;
    color: $primary-color;
    transition: transform 150ms ease-in-out;
    &:hover {
      color: $primary-color;
    }
    &:active {
      transform: scale(0.95);
      color: $primary-color;
    }
  }
  
}