// @import '../node_modules/open-color/open-color';
@import './utils';

// Import Source sans pro (200, 300, 400, 600, 700, 900)
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: $sm-min;
  margin: auto;
  @media screen and (max-width: $xs-max) {
    width: unset;
    margin: 0;
    padding: 0 1rem;
  }
}

a {
  text-decoration: none;
  color: $text-black;
  transition: color 150ms ease-in-out;
  // &:hover {
  //   color: $primary-color-hover;
  // }
  // &:active {
  //   color: $primary-color-click;
  // }
}

button {
  border: none;
}

.pageTitle {
  text-align: center;
  color: $primary-color;
  border-bottom: $primary-color 0.25rem solid;
  border-top: $primary-color 0.25rem solid;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.formContainer {
  position: relative;
  border: 0.1rem solid $oc-gray-2;
  border-radius: $border-radius;
  padding: 1rem;
  padding-top: 1.5rem;
  margin-bottom: 2rem;
  .formTitle {
    position: absolute;
    font-size: 16px;
    color: $oc-gray-4;
    top: 0;
    left: 1rem;
    transform: translateY(-50%);
    background-color: $bg-light;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: 400;
  }
  .formRow {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: $row-gap;
    > * {
      flex-grow: 1;
      flex-basis: 0;
    }
  }
}