// @import '../node_modules/open-color/open-color';
@import './utils';

// Import Source sans pro (200, 300, 400, 600, 700, 900)
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: $xs-max;
  margin: auto;
}

a {
  text-decoration: none;
  color: $text-black;
  transition: color 150ms ease-in-out;
  &:hover {
    color: $primary-color-hover;
  }
  &:active {
    color: $primary-color-click;
  }
}

button {
  border: none;
}